body {
  background-color: white;
  font-family: Arial, sans-serif; /* Use desired font */
}

/* Change bullet points to '-' */
ul {
  list-style-type: none;
}

ul li::before {
  content: "- ";
  margin-right: 8px;
}

a[href="https://github.com/j0shmillar"]:contains("View my GitHub profile") {
  display: none !important;
}

header h1 {
  display: none;
}

.site-footer {
  display: none !important;
}
